
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* color: #04349C;
    color: #166DC5;
    color: #C68642;
    color: #76A1E1;
    color: #131119; */
}

/* DIVIDER */
.divider {
    background-color: #C68642;
    width: 100%;
    height: 5rem;
}

/* HEADER */
header {
    margin-top: 4rem;
}

header > nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    background-color: #131119;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav {
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

nav ul {
    display: flex;
    height: 100%;
    width:100%;
    align-items: center;
}


nav .right {
    flex-direction: row-reverse;
}

nav a {
    padding: .5rem;
    display: inline-block;
    text-decoration: none;
}

nav a:hover .header-icon{
    color: #C68642;
}

.header-icon {
    color: white;
    border-radius: 50%;
    font-size: 2rem;
}

/* TOP IMAGE */
.top {
    width: 100%;
    height: 50vh;
    min-height: 500px;
    background: url("/img/header-speicherstadt.jpg");
    background-position: center;
}

.top-overlay {
    width: 100%;
    height: 100%;
    background: rgba(4, 52, 156, 0.6);
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: relative;
}

.top-overlay > .top-content {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-content > h1 {
    margin: 0;
    font-size: 4em;
}
.top-content > h2 {
    margin: 0;
    margin-top: .5em;
    font-size: 2em;
    font-weight: unset;
}


/* HERO IMAGE */
.hero {
    width: 100%;
    position: relative;
}

.hero > img {
    width: 256px;
    margin-left: -128px;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* HERO TEXT */
