.header {
  margin-top: 4rem; }

.header__nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  background-color: #1F1C29;
  z-index: 10; }

.nav__list {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.nav__listItem {
  margin: .5rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }
  .nav__listItem .nav__icon {
    color: white;
    border-radius: 50%;
    font-size: 2rem; }
  .nav__listItem:hover .nav__icon {
    color: #C68642; }

.top {
  width: 100%;
  height: 80vh;
  min-height: 500px;
  max-height: 750px;
  background: url("/img/header-speicherstadt.jpg");
  background-size: cover;
  background-position: center top; }

.top__overlay {
  width: 100%;
  height: 100%;
  background: rgba(57, 121, 189, 0.6);
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: relative; }

.top__content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%); }

.top__text--large {
  font-size: 4em; }

.top__text--small {
  margin-top: .5em;
  font-size: 2em;
  font-weight: none; }

.hero {
  position: relative;
  width: 100%;
  height: 128px;
  background-color: #C68642; }

.hero__image {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  width: 256px;
  height: 256px;
  margin-left: -128px;
  border-radius: 50%;
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.hero__overlay {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(198, 134, 66, 0.1); }

.about {
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  padding: 2rem 10% 3rem 10%;
  text-align: center; }

.about__heading {
  font-size: 2rem;
  position: relative;
  text-align: center; }
  .about__heading::after {
    position: absolute;
    content: '';
    top: 100%;
    height: 2px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2px;
    background: #C68642; }

.work {
  padding: 2rem 10% 3rem 10%;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  background-color: #C6CCE2;
  background: linear-gradient(#C6CCE2, rgba(198, 204, 226, 0.5)); }

.work__heading {
  font-size: 2rem;
  position: relative;
  text-align: center; }
  .work__heading::after {
    position: absolute;
    content: '';
    top: 100%;
    height: 2px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2px;
    background: #C68642; }

.work__sectionHeading {
  margin-top: 1rem;
  margin-bottom: .5rem;
  text-align: left; }

.work__list {
  color: #1F1C29;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.work__listItem {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  align-items: center;
  position: relative;
  text-align: left;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem; }

.work__title {
  display: flex;
  flex-wrap: wrap; }
  .work__title .work__company {
    flex-grow: 1; }
  .work__title .work__year {
    flex-grow: 1;
    text-align: right;
    color: rgba(31, 28, 41, 0.5); }

.work__role {
  color: #C68642; }

.skills {
  padding: 2rem 10% 3rem 10%;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  text-align: center; }

.skills__heading {
  font-size: 2rem;
  position: relative;
  text-align: center; }
  .skills__heading::after {
    position: absolute;
    content: '';
    top: 100%;
    height: 2px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2px;
    background: #C68642; }

.skills__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0; }

.skills__listItem {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.skills__icon {
  color: #3979BD;
  font-size: 5rem;
  margin: .5rem; }
  .skills__icon:hover {
    color: #C68642; }
  @media screen and (max-width: 1024px) {
    .skills__icon {
      font-size: 3rem; } }

.projects {
  padding: 2rem 10% 3rem 10%;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  background-color: #C68642;
  background: linear-gradient(#C68642, rgba(198, 134, 66, 0.8));
  color: white; }

.projects__heading {
  font-size: 2rem;
  position: relative;
  text-align: center; }
  .projects__heading::after {
    position: absolute;
    content: '';
    top: 100%;
    height: 2px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2px;
    background: #3979BD; }

.projects__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0; }

.projects__listItem {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  color: #1F1C29;
  padding: 1rem;
  background-color: white;
  margin: .5rem;
  max-width: 400px; }

.project__techList {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; }

.project__tech {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  color: white;
  background-color: #7BA2E0;
  padding: .5rem;
  margin: .5rem; }

.footer {
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  background-color: #1F1C29;
  color: white;
  text-align: center;
  padding: 2rem; }

.footer__text {
  margin: 0; }

::-webkit-scrollbar {
  width: 10px;
  background: white; }

::-webkit-scrollbar-thumb {
  background: #C68642; }

::-webkit-scrollbar-corner {
  background: white; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

a:link {
  color: #3979BD; }

a:visited {
  color: #C68642; }

a:link:hover {
  color: rgba(57, 121, 189, 0.8); }

a:visited:hover {
  color: rgba(198, 134, 66, 0.5); }

body {
  color: #1F1C29;
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

* {
  box-sizing: border-box; }
