@import "../variables";
::-webkit-scrollbar {
    width: 10px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: $color-gold;
}

::-webkit-scrollbar-corner {
    background: white;
}