@import "../styles/variables";
@import "../styles/mixins/mixins.scss";

.header {
    margin-top: 4rem;
}

.header__nav {
    @include drop-shadow();
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    background-color: $color-dark;
    z-index: 10;
}

.nav__list {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

        
.nav__listItem {
    margin: .5rem;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    
    .nav__icon {
        color: white;
        border-radius: 50%;
        font-size: 2rem;
        text-decoration: none;
    }

    &:hover .nav__icon {
        color: $color-gold;
    }
}
