@import "variables";
@import "sections/nav";
@import "sections/top";
@import "sections/hero";
@import "sections/about";
@import "sections/work";
@import "sections/skills";
@import "components/heading";
@import "components/shadow";
body {
    color: $color-dark;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}